extends layout.pug

block content
    .w3-container
      table.w3-table-all
        thead
          tr
            th Id
            th Freguesia
            th Espécie
            th Estado
            th Numero de intervencões
        tbody
          each planta in plantas
              tr
                td
                  a(href="/" + planta.Id)= planta.Id
                td= planta.Freguesia
                td
                  a(href="/especies/" + planta.Espécie)= planta.Espécie
                td= planta.Estado
                td= planta['Número de Intervenções']

